
<div class="panel panel-primary">
<div class="panel-heading text-center" >
 Add Products
</div>
<div class="panel-body">
  <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="onSubmit(productForm)">

    <!-- product name -->
    <div class="form-group" >

      <div class="col-md-12">
      <label class="control-label" for="productname"> Product Name</label>&nbsp;
      <input
       class="form-control"
       type="text"
       id="productname"
       formControlName="productname"
       placeholder="Enter product name"
       />
      </div>
    </div>

    <!-- product price -->
      <div class="form-group">

      <div class="col-md-12">
      <label class="control-label" for="price"> Product Price</label>&nbsp;
      <input
       class="form-control"
       type="text"
       id="price"
       formControlName="price"
       placeholder="Enter product price"
       />

      </div>
    </div>

    <!-- Quantity -->
    <div class="form-group">
      <div class="col-md-12">
      <label class="control-label" for="quantity"> Product Quantity</label>&nbsp;
      <input
       class="form-control"
       type="text"
       id="quantity"
       formControlName="quantity"
       placeholder="Enter product quantity"
       />

      </div>
    </div>

    <!-- Description -->
 <div class="form-group">

      <div class="col-md-12">
      <label class="control-label" for="description"> Product description</label>&nbsp;
      <textarea
       class="form-control"
       type="text"
       id="description"
       formControlName="description"
       placeholder="Enter product description"
       ></textarea>

      </div>
    </div>


    <div>

      <!-- Add button -->
      <button
      [disabled]="!productForm.valid"
      class="btn btn-success btn-lg btn-block">
      Add Product
      </button>
    </div>
  </form>
</div>
</div>







